<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title> AMP | HomeScreen </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container-fluid">
        <div class ="text-center">
          <h4><B> Welcome to AMP Segmentation ! </B></h4>
           <figcaption class="blockquote-footer">
               <i>Anurag Kacherikar, Mohit Dhere, Mihir Apte, Pooja Dani</i> <cite title="Source Title"></cite>
            </figcaption></div><br>
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand text-white" href="#">AMP Segmentation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="HomeScreen.html">Home Page</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="cluster.html">Cluster Visualization</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="Elbow.html">Elbow Technique</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="Gender.html">Gender Distribution</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white" aria-current="page" href="Scatter.html">Scatter Plot</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav><br>
            <div class="card-deck">
                <div class="card">
                  <img src="cluster_visualization.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cluster</h5>
                    <p class="card-text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
                  <a href="cluster.html" class="btn btn-primary">Cluster Graphs</a>
                  
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <img src="elbow_technique.png" class="card-img-top" alt="...">
                    <h5 class="card-title">Elbow</h5>
                    <p class="card-text-center">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="Elbow.html" class="btn btn-primary">Elbow Graphs</a>

                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <img src="gender_dist.png" class="card-img-top" class="rounded mx-auto d-block" alt="...">
                    <h5 class="card-title">Gender Dist</h5>
                    <p class="card-text-center">This card has supporting text below as a natural lead-in to additional content.</p>
                    <a href="Gender.html" class="btn btn-primary">Gender Dist Graphs</a>

                  </div>
                </div>
                <div class="card">
                  <img src="scatter_plot.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Scatter Plot</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  
                  <a href="Scatter.html" class="btn btn-primary">Scatter Plot Graphs</a>
                  </div>
               
                </div>
              </div>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <br>
            <br>

            <footer class="page-footer font-small unique-color-dark">

              <div style="background-color:#0c62e2f5;">
                <div class="container">
            
                  <!-- Grid row-->
                  <div class="row py-4 d-flex align-items-center">
            
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center  text-white text-md-left mb-4 mb-md-0">
                      <h6 class="mb-0">Get connected with us on Email & Phone    <i class="bi bi-envelope-fill"></i>     <i class="bi bi-telephone-fill"></i></h6>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="container-fluid text-center text-md-left mt-3">
                <div class="row mt-1">
                  <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-2">
                    <h6 class="text-uppercase font-weight-bold"> Segmentation</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><B><i class="bi bi-person-fill"></i> Group Members</B> <br>
                       <B>Anurag Kacherikar</B><br>     
                       <B>Mohit Dhere</B><br>
                       <B>Mihir Apte</B><br>
                       <B>Pooja Dani</B>
                    </p>
            
                  </div>
                  
                      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-2">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 50px;">
                    <p>
                      <i class="bi bi-house-fill"></i> MMCOE,Karvenagar, Pune</p>
                    <p>
                      <i class="bi bi-envelope-fill"></i>  mohitdhere2020.it@mmcoe.edu.in</p>
                    <p>
                      <i class="bi bi-telephone-fill"></i> + 91  </p>
                    
                  </div>
                </div>
              </div>
              <div class="footer-copyright text-center py-3"> © 2022 Copyright:
                
              </div>
            </footer>
</div>
</body>
</html>